<!DOCTYPE html>
<html>
<include file="./Application/Home/View/default/Public/header.html" />
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

<include file="./Application/Home/View/default/Public/common.html" />

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>      
          <ol class="breadcrumb">
            <li><a href="../../index2.html"><i class="fa  fa-sign-out"></i> 主页</a></li>
            <li><a href="#">Etc模块</a></li>
            <li class="active">Etc通行日志</li>
          </ol>
      </h1>
    </section>

     <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
         
          <div class="box">

            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>姓名</th>
                    <th>驶入Etc时间</th>
                    <th>驶出Etc时间</th>
                    <th>过路费用金额</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>2017/02/21 01:14:21</td>
                    <td><p>2017/02/21 01:38:12</p></td>
                    <td>10元</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>2017/02/21 01:23:29</td>
                    <td>2017/02/21 01:43:01</td>
                    <td>15元</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>2017/02/21 01:35:11</td>
                    <td>2017/02/21 01:44:35</td>
                    <td>12元</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>2017/02/21 01:47:56</td>
                    <td>2017/02/21 01:48:20</td>
                    <td>25元</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>2017/02/21 01:48:16</td>
                    <td>2017/02/21 01:49:21</td>
                    <td>10元</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>2017/02/21 01:49:27</td>
                    <td>2017/02/21 01:49:46</td>
                    <td>15元</td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>2017/02/21 01:52:00</td>
                    <td>2017/02/21 01:52:21</td>
                    <td>12元</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>2017/02/21 01:54:49</td>
                    <td>2017/02/21 01:55:25</td>
                    <td>12元</td>
                  </tr>
                  <tr>
                    <td>9</td>
                    <td>2017/02/21 01:56:00</td>
                    <td>2017/02/21 01:57:24</td>
                    <td>12元</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>2017/02/21 01:18:16</td>
                    <td>2017/02/21 02;00:10</td>
                    <td>17元</td>
                  </tr>
                </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body --> 
          </div>
          <!-- /.box --> 
        </div>
        <!-- /.col --> 
      </div>
      <!-- /.row --> 
    </section>
    <!-- /.content --> 
  </div>
  <!-- /.content-wrapper -->
<include file="./Application/Home/View/default/Public/footer.html" />
</body>
</html>
