<!DOCTYPE html>
<html>
<include file="./Application/Home/View/default/Public/header.html" />
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<include file="./Application/Home/View/default/Public/common.html" />

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>      
          <ol class="breadcrumb">
            <li><a href="{:U('Index/index2')}"><i class="fa  fa-sign-out"></i> 主页</a></li>
            <li><a href="#">小车子系统</a></li>
            <li class="active">车辆违章记录</li>
          </ol>
      </h1>
    </section>

 <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
         
          <div class="box">
      
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>车辆编号</th>
                    <th>车牌号码</th>
                    <th>违章行为</th>
                    <th>违章地点</th>
                    <th>违章时间</th>
                    <th>罚款金额</th>
                    <th>扣分</th>
                    <th>是否已处理</th>
                  </tr>
                </thead>
                <tbody>
				<volist name='pec_info' id ='vo'>
				<tr>
                    <td style="width:100px">{$vo.id}</td>
                    <td style="width:100px">{$vo.carnumber}</td>
                    <td style="width:350px">{$vo.premarks}</td>
                    <td>{$vo.paddr}</td>
                    <td>{$vo.pdatetime}</td>
                    <td>{$vo.pmoney}</td>
                    <td>{$vo.pscore}</td>
                    <td>未处理</td>
                  </tr>
				</volist>
                 
                  
                                                      
                </tbody>
              
              </table>
            </div>
            <!-- /.box-body --> 
          </div>
          <!-- /.box --> 
        </div>
        <!-- /.col --> 
      </div>
      <!-- /.row --> 
    </section>
    <!-- /.content --> 
  </div>
  <!-- /.content-wrapper -->
<include file="./Application/Home/View/default/Public/footer.html" />
</body>
</html>
