<!DOCTYPE html>
<html>
<include file="./Application/Home/View/default/Public/header.html" />
<script>
	function chngzhi(id){
		$('#car_id').val(id);
	}
</script>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<include file="./Application/Home/View/default/Public/common.html" />

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>      
          <ol class="breadcrumb">
            <li><a href="{:U('Index/index2')}"><i class="fa  fa-sign-out"></i> 主页</a></li>
            <li><a href="#">小车子系统</a></li>
            <li class="active">车辆基本信息</li>
          </ol>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
        
        
          <div class="box">

            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>

                  <tr>
                    <th>车辆编号</th>
                    <th>车辆品牌</th>
                    <th>车牌号</th>
                    <th>车主</th>
                    <th>余额</th>
                    <th>车辆控制</th>
                    <th>充值</th>
                  </tr>
                </thead>
                <tbody>
				<volist name='carinfo' id = 'item'>
				<tr>
                    <td>{$item.number}</td>
                    <td><img src="{$item.cardbrand}" width="50" height="50"></td>
                    <td>{$item.carnumber}</td>
                    <td>{$item.pname}</td>
                    <td>{$item.money}</td>
                    <td><button type="button" class="btn btn-primary btn-info">  <span class="glyphicon glyphicon-pause"></span> 暂停</button></td>
                    <td><button onclick="chngzhi({$item.number})" type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-info" data-id="{$item.number}">  充值      </button></td>
                 </tr>
				</volist>
            </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body --> 
          </div>
          <!-- /.box -->
          
          <div class="modal fade" id="modal-info">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">车辆账户充值</h4>
                  </div>
                  <div class="modal-body">
                      <input type="number" class="form-control" id="charge_money" placeholder="充值金额">
					  <input type="hidden" id='car_id' value=''>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary " onclick="charge()">充值</button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
          

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<include file="./Application/Home/View/default/Public/footer.html" />
</body>
<script>






function charge(id){
		var car_id=$('#car_id').val();	
		var charge_money = $("#charge_money").val();
		if(!charge_money){
			alert("请输入充值金额！");
			return false;
		}
		if(charge_money<0){
			alert("请输入正确金额！");
			return false;
		}
		 $.ajax({  
                type : "post", 
                url : "{:U('Index/data011')}",
                data : {money:charge_money,car_id:car_id},              
                success:function(res){
				
                   if(res==1){
						alert("充值成功！");
						location.reload();
				   }else{
						alert("充值失败！");
						location.reload();
				   }
                }  
            });  
		
}
</script>
</html>
