<!DOCTYPE html>
<html>
<include file="./Application/Home/View/default/Public/header.html" />
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

<include file="./Application/Home/View/default/Public/common.html" />

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>      
          <ol class="breadcrumb">
            <li><a href="../../index2.html"><i class="fa  fa-sign-out"></i> 主页</a></li>
            
            <li class="active">道路子系统</li>
          </ol>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
        
        
          <div class="box">

            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>

                  <tr>
                    <th>ID</th>
                    <th>道路编号</th>
                    <th>道路名称</th>
                    <th>拥挤度</th>
                    <th>拥堵描述</th>
                    <th>拥堵标识</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>学院路</td>
                    <td>5</td>
                    <td>严重拥堵</td>
                    <td><div class="bg-light-blue color-palette"><span>#b01e23</span></div></td>
                  </tr>
                   <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>学院路</td>
                    <td>5</td>
                    <td>严重拥堵</td>
                    <td><div class="bg-light-blue color-palette"><span>#b01e23</span></div></td>
                  </tr>
                    <td>1</td>
                    <td>1</td>
                    <td>学院路</td>
                    <td>5</td>
                    <td>严重拥堵</td>
                    <td><div class="bg-light-blue color-palette"><span>#b01e23</span></div></td>
                  </tr>
                   <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>学院路</td>
                    <td>5</td>
                    <td>严重拥堵</td>
                    <td><div class="bg-light-blue color-palette"><span>#b01e23</span></div></td>
                  </tr>
                    <td>1</td>
                    <td>1</td>
                    <td>学院路</td>
                    <td>5</td>
                    <td>严重拥堵</td>
                    <td><div class="bg-light-blue color-palette"><span>#b01e23</span></div></td>
                  </tr>
                   <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>学院路</td>
                    <td>5</td>
                    <td>严重拥堵</td>
                    <td><div class="bg-light-blue color-palette"><span>#b01e23</span></div></td>
                  </tr>
                    <td>1</td>
                    <td>1</td>
                    <td>学院路</td>
                    <td>5</td>
                    <td>严重拥堵</td>
                    <td><div class="bg-light-blue color-palette"><span>#b01e23</span></div></td>
                  </tr>
                   <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>学院路</td>
                    <td>5</td>
                    <td>严重拥堵</td>
                    <td><div class="bg-light-blue color-palette"><span>#b01e23</span></div></td>
                  </tr>
                    <td>1</td>
                    <td>1</td>
                    <td>学院路</td>
                    <td>5</td>
                    <td>严重拥堵</td>
                    <td><div class="bg-light-blue color-palette"><span>#b01e23</span></div></td>
                  </tr>
                   <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>学院路</td>
                    <td>5</td>
                    <td>严重拥堵</td>
                    <td><div class="bg-light-blue color-palette"><span>#b01e23</span></div></td>
                  </tr>
				  				  				  				  				  
				  
				  
				  
				  
				  
				  
				  
                </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body --> 
          </div>
          <!-- /.box -->
          <!-- modal content -->
          <div class="modal fade" id="modal-info">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">车辆账户充值</h4>
                  </div>
                  <div class="modal-body">
                      <input type="number" class="form-control" id="exampleInputEmail1" placeholder="充值金额">

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary ">充值</button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
          

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<include file="./Application/Home/View/default/Public/footer.html" />
</body>
</html>
