<!DOCTYPE html>
<html>
<include file="./Application/Home/View/default/Public/header.html" />
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

<include file="./Application/Home/View/default/Public/common.html" />

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>      
          <ol class="breadcrumb">
            <li><a href="{:U('Index/index2')}"><i class="fa  fa-sign-out"></i> 主页</a></li>
            <li><a href="#">基础数据表</a></li>
            <li class="active">违章代码</li>
          </ol>
      </h1>
    </section>

    <!-- Main content -->
   <section class="content">
      <div class="row">
        <div class="col-xs-12">
         
          <div class="box">

            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>违章代码</th>
                    <th>罚金</th>
                    <th>扣分</th>
                    <th>描述</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
					<td>1</td>
					<td>1001A</td>
					<td>1000</td>
                    <td>6</td>
                    <td>驾驶拼装的汽车上道路</td>
                  </tr>
                  <tr>
					<td>1</td>
					<td>1001A</td>
					<td>1000</td>
                    <td>6</td>
                    <td>驾驶拼装的汽车上道路</td>
                  </tr>
                  <tr>
					<td>1</td>
					<td>1001A</td>
					<td>1000</td>
                    <td>6</td>
                    <td>驾驶拼装的汽车上道路</td>
                  </tr>
                  <tr>
					<td>1</td>
					<td>1001A</td>
					<td>1000</td>
                    <td>6</td>
                    <td>驾驶拼装的汽车上道路</td>
                  </tr>
                  <tr>
					<td>1</td>
					<td>1001A</td>
					<td>1000</td>
                    <td>6</td>
                    <td>驾驶拼装的汽车上道路</td>
                  </tr>
                  <tr>
					<td>1</td>
					<td>1001A</td>
					<td>1000</td>
                    <td>6</td>
                    <td>驾驶拼装的汽车上道路</td>
                  </tr>
                  <tr>
					<td>1</td>
					<td>1001A</td>
					<td>1000</td>
                    <td>6</td>
                    <td>驾驶拼装的汽车上道路</td>
                  </tr>
                  <tr>
					<td>1</td>
					<td>1001A</td>
					<td>1000</td>
                    <td>6</td>
                    <td>驾驶拼装的汽车上道路</td>
                  </tr>
                  <tr>
					<td>1</td>
					<td>1001A</td>
					<td>1000</td>
                    <td>6</td>
                    <td>驾驶拼装的汽车上道路</td>
                  </tr>
                  <tr>
					<td>1</td>
					<td>1001A</td>
					<td>1000</td>
                    <td>6</td>
                    <td>驾驶拼装的汽车上道路</td>
                  </tr>
                  <tr>
					<td>1</td>
					<td>1001A</td>
					<td>1000</td>
                    <td>6</td>
                    <td>驾驶拼装的汽车上道路</td>
                  </tr>
                  <tr>
					<td>1</td>
					<td>1001A</td>
					<td>1000</td>
                    <td>6</td>
                    <td>驾驶拼装的汽车上道路</td>
                  </tr>
                  <tr>
					<td>1</td>
					<td>1001A</td>
					<td>1000</td>
                    <td>6</td>
                    <td>驾驶拼装的汽车上道路</td>
                  </tr>
                  <tr>
					<td>1</td>
					<td>1001A</td>
					<td>1000</td>
                    <td>6</td>
                    <td>驾驶拼装的汽车上道路</td>
                  </tr>
                  <tr>
					<td>1</td>
					<td>1001A</td>
					<td>1000</td>
                    <td>6</td>
                    <td>驾驶拼装的汽车上道路</td>
                  </tr>
                  <tr>
					<td>1</td>
					<td>1001A</td>
					<td>1000</td>
                    <td>6</td>
                    <td>驾驶拼装的汽车上道路</td>
                  </tr>				  
				  
				  
				  
				  
				  
				  
                </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body --> 
          </div>
          <!-- /.box --> 
        </div>
        <!-- /.col --> 
      </div>
      <!-- /.row --> 
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<include file="./Application/Home/View/default/Public/footer.html" />
</body>
</html>
